<div class="body">

  <% content_for :title, 'Edit Shop' %>
  <% navigation_add 'Shop', shops_path %>

  <div class="container">
    <div class="row-fluid">

      <%= render 'form' %>

      <div class="glyphicons-demo">
        <a class="glyphicons no-js left_arrow" href=<%= shops_path %>><i></i>Back</a>
      </div>

    </div>
  </div>
</div>