<% content_for :title, 'Shop' %>

<div class="container">
    <div class="row-fluid margin-bottom-20">
      <div class="headline"><h3><%= @shop.name %></h3></div>

        <ul class="unstyled who margin-bottom-20">
          <li><a href="#"><i class="icon-home"></i><%= @shop.address_id %></a></li>
          <li><a href="#"><i class="icon-envelope-alt"></i>info@example.com</a></li>
          <li><a href="#"><i class="icon-phone-sign"></i>0123456789</a></li>
          <li><a href="#"><i class="icon-globe"></i>http://www.example.com</a></li>
        </ul>

        <div class="glyphicons-demo">
          <a class="glyphicons no-js left_arrow" href=<%= shops_path %>><i></i>Back</a>
          <a class="glyphicons no-js edit" href=<%= edit_shop_path(@shop) %>><i></i>Edit</a>
        </div>

    </div>
  </div>
</div>