<div class="breadcrumbs <% if request.env['PATH_INFO'].include? '/shops/' + '1' || '2' || '3' || '4' || '5' || '6' || '7' || '8' || '9' %><%else%>margin-bottom-20<%end%>">
  <div class="container">
    <h1 class="color-green pull-left"> <%=yield(:title)%> </h1>
    <ul class="pull-right breadcrumb">

  <% nav.each do |n| %>
      <li><%= link_to n[:title] , n[:url] %> <span class="divider">/</span></li>
  <% end %>
      <li class="active"><%=yield(:title)%></li>

    </ul>
  </div>
  <!--/container-->
</div>
<!--/breadcrumbs-->