<li class="dropdown menu-level1">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Optionen
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li class="menu-level2"><%= link_to "Edit Profile",edit_user_registration_path%></li>
    <li class="menu-level2"><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
  </ul>
</li>