<h1>Welcome to Beer to Beer</h1>
<br><br>
<p>
  <%= link_to "Beers",beers_path %>
  <br>
</p>


<p>
  <%= link_to "Clubs",clubs_path %>
  <br>
</p>

<p>
  <%= link_to "Events",events_path %>
  <br>
</p>

<p>
  <%= link_to "Shops",shops_path %>
  <br>
</p>