<link href="/assets/ratingbar.css" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"
      type="text/css"/>


<div class="body">

  <% content_for :title, 'Edit Rating' %>
  <% navigation_add 'Ratings', ratings_path %>

  <div class="container">
<% if current_user %>
<% if current_user.id == @rating.user_id %>
<%= render 'form' %>
<% end %>
<%else%>
   <P><h3> You can only edit your own Ratings</h3></P>

<% end %>

<%= link_to 'Show', @rating %> |
<%= link_to 'Back', ratings_path %>

  </div>

</div><!--/body-->
<script>
    $('#rating_criterions_attributes_0_value').barrating()
    $('#rating_criterions_attributes_1_value').barrating()
    $('#rating_criterions_attributes_2_value').barrating()
</script>