<link href="/assets/ratingbar.css" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"
      type="text/css"/>


<div class="body">

  <% content_for :title, 'Edit Rating' %>
  <% navigation_add 'Ratings', ratings_path %>

  <div class="container">
<% if current_user %>
<% if current_user.id == @rating.user_id %>
<%= render 'form' %>
<% end %>
<%else%>
   <P><h3> You can only edit your own Ratings</h3></P>

<% end %>

    <div class="glyphicons-demo">
      <a class="glyphicons no-js left_arrow" href=<%= @rating %>><i></i>Back</a>
      <a class="glyphicons no-js file" href=<%= @rating %>><i></i>Show</a>

    </div>
  </div>

</div><!--/body-->
<script>
    $( document ).ready(function() {
        $('#price').barrating()
        $('#taste').barrating()
        $('#headache').barrating()
    });

</script>