<link href="/assets/ratingbar.css" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"
      type="text/css"/>


<div class="body">

  <% content_for :title, 'Edit Rating' %>
  <% navigation_add 'Ratings', ratings_path %>

  <div class="container">

<%= render 'form' %>

    <div class="container glyphicons-demo" style="text-align: center">
      <a class="glyphicons no-js left_arrow" href=<%= rating_path %>><i></i>Back</a>
      <a class="glyphicons no-js file" href=<%= rating_path %>><i></i>Show</a>
    </div>

  </div>

</div><!--/body-->
<script>

        $('#price').barrating()
        $('#taste').barrating()
        $('#headache').barrating()
 

</script>