<link href="/assets/ratingbar.css" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet"
      type="text/css"/>


<div class="body">

  <% content_for :title, 'New Rating' %>
  <% navigation_add 'Ratings', ratings_path %>
  <div class="container">



<%= render 'form' %>

<%= link_to 'Back', ratings_path %>
</div><!--/body-->
  </div>
<script>
    $( document ).ready(function() {
    $('#price').barrating()
    $('#taste').barrating()
    $('#headache').barrating()
    });

</script>