<div class="body">

  <% content_for :title, 'New Beer' %>
  <% navigation_add 'Beers', beers_path %>

  <div class="container">
    <div class="row-fluid">

      <%= render 'form' %>

      <div class="glyphicons-demo"  style="text-align: center">
        <a class="glyphicons no-js left_arrow" href=<%= beers_path %>><i></i>Back</a>
      </div>

    </div>
  </div>
</div>